* {
  font-family: "Source Sans Pro";
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    color: #000;
}

.paytone {
  font-family: "Paytone One";
}

.bold {
  font-weight: 700;
}

/* The side navigation menu */
.sidenav {
   height: 100%; /* 100% Full-height */
   width: 0; /* 0 width - change this with JavaScript */
   position: fixed; /* Stay in place */
   z-index: 1; /* Stay on top */
   top: 0;
   left: 0;
   background-color: rgb(51, 51, 51); /* Black*/
   overflow-x: hidden; /* Disable horizontal scroll */
   padding-top: 60px; /* Place content 60px from the top */
   transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
   padding: 12px 8px;
   text-decoration: none;
   font-size: 24px;
   color: #818181;
   display: block;
   transition: 0.3s;
   text-align: center;
   margin: 30px 0;
   color: #FFFFFF;
   font-weight: 600;
   font-family: "Source Sans Pro";
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus{
   color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
   position: absolute;
   top: 0;
   right: 25px;
   font-size: 36px;
   margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main, #nav-top {
   transition: margin-left .5s;
   /*padding: 20px;*/
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
   .sidenav {padding-top: 15px;}
   .sidenav a {font-size: 18px;}
}


/* Deshabilitar el responsive en el menu de bootstrap. */
.navbar-collapse.collapse {
display: block!important;
}

.navbar-nav>li, .navbar-nav {
float: left !important;
}


.navbar-nav.navbar-right:last-child {
margin-right: -15px !important;
}

.navbar-right {
float: right!important;
}


/* Barra de menu superior */
#nav-top {
  min-height: 46px;
  border:0;
  box-shadow: 0px 3px 7px rgba(0,0,0,0.11);
}

#logo {
  margin-top: 4px;
}

#button-menu {
  background-color: #DB4752;
  font-size: 30px;
  padding: 8px 12px;
  color: wheat;
  cursor: pointer;
}

#button-menu.glyphicon {
  top:0;
}

li.user-info {
  background-color: #F2F2F2;
  padding: 0 15px;
  color:#6B6B6B;
}

.avatar-menu {
  margin: 4px 7px;
}

/* Home o Inicio */
.banner-text{
  margin-top: 40px;
  margin-bottom: 42px;
}

.banner-title {
  color: black;
  font-size: 48px;
  text-shadow: 4px 0px 8px rgba(0, 0, 0, 0.11);
  text-indent: -0.8em;
}

.input-buscador {
  border-radius: 0px;
  border: 0px none;
  padding: 10px;
  float: left;
}

#buscador button {
  background-color: #DB4752;
  border: none;
  padding: 10px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  color: #FFF;
  font-weight: 700;
}

.home-list {
  display:table;
}

.home-list-element {
  display:table-cell;
  vertical-align: middle;
  font-weight: 700;
}

.home-list .home-list-element:last-child {
  padding: 0 10px
}

.star {
  width: 12px;
}


/* FOOTER */

footer {
  background-color: #626262;
  padding: 30px 0;
  color: white;
}

footer ul {
  list-style: none;
  padding-left: 0;
}

footer ul a,
footer ul a:link,
footer ul a:visited,
footer ul a:hover,
footer ul a:focus,
footer ul a:active {
  color: white;
  text-decoration: none;
}


/* Profile */

.profile-header {
    max-width: 100%;
    height: 300px;
    -webkit-background-size: contain;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: auto;
}

.profile-header .avatar{
    max-width: 128px;
    border: 3px solid #ffffff;
    width: 100%;
    display: inline-block;
}

.profile-header .banner-text {
      margin-top: 143px;
    
}

.profile-header h1  {
    width: 72%;
    display: inline-block;
    vertical-align: bottom;
    text-transform: capitalize;
    color: #ffffff;
}
.profile-header a.boton  {
    display: inline-block;
    vertical-align: bottom;
    font-size: 15px;
    max-width: 185px;
    width: 100%;
    padding: 5px;
}


.profile-content{
  background: #e0e0e9;
  padding-top: 25px;
}


.pets{
  text-align: center;
}

span.check{
      background: url(/img/checked.png) no-repeat;
    color: #6b6b6b;
    padding-left: 30px;
    font-weight: 600;
}

.profile-content .description{
  font-size: 15.5px;
}
.description .note{
  color: #6b6b6b;
  font-size: 14px;
}
.description .list{
  font-weight: 600;
  padding-bottom: 10px;
  font-size: 14px;
  color: #000000;
}

.panel.list-result{
  padding: 0px 15px;
}

.profile-content  .panel.list-result{
  font-size: 12px;
}

.panel.list-result .panel-body {
    padding: 0px 15px;
}

.panel .panel-body .h1, .panel .panel-body .h2, .panel .panel-body .h3, 
.panel .panel-body h1, .panel .panel-body h2, .panel .panel-body h3 {
    margin-top: 10px;
    margin-bottom: 20px;
}

.panel .panel-body .photos{
  border-bottom: 2px dashed #9e9e9e;
    border-top: 2px dashed #9e9e9e;
    padding: 25px 0px 15px;
}
.panel .panel-body .photos img{
  margin-bottom: 10px;
}

.point{
    text-align: right;
}

.point .star{
    width: 15.5px;
    padding-top: 10px;

}



@media ( max-width: 1024px ){
    .profile-header h1 {
        width: 66%;
    }
}

@media ( max-width: 768px ){
    .profile-header h1 {
        width: 55%;
        font-size: 5.8vh;
    }

}

@media ( max-width: 425px ){
    .profile-header .banner-text {
        margin-top: 40px;
        text-align: center;
    }
    .profile-header h1 {
        width: 100%;
        font-size: 4vh;
        margin-bottom: 16px;
        margin-top: 16px;
    }

    .point {
        padding-bottom: 20px;
    }

}

