<!-- Image Background Page Header -->
<!-- Note: The background image is set within the business-casual.css file. -->
<header class="business-header">
    <div class="container">
        <div class="banner-text row">
            <div class="col-lg-12">
            <h1 class="paytone banner-title">Un cuidador con un click.</h1>
                <div>
                    <h3 style="color:black; font-size: 30px;text-shadow:4px 0px 8px rgba(0,0,0,0.11);font-weight:bold;">Los mejores cuidadores de tu localidad</h3>
                </div>
            </div>
        </div>
        <div id="buscador" class="row">
            <div class="col-lg-12">
              <input type="text" name="ubicacion" value="" placeholder="Direccion" class="input-buscador">
              <input type="date" name="desde" value="" placeholder="Desde" class="input-buscador">
              <input type="date" name="hasta" value="" placeholder="Hasta" class="input-buscador">
              <button type="button" name="button">Encuentra un cuidador</button>
            </div>
        </div>
    </div>

</header>

<!-- Page Content -->
<div class="container">
    <hr>

    <div class="row">
        <div class="col-sm-4">
            <img class="img-circle img-responsive img-center" src="img/img2.png" alt="">
            <h2 align="center" style="font-weight:bold;">Busca el servicio que necesitas</h2>
            <h3 align="center">Revisa los perfiles y las calificaciones de cuidadores cerca de ti.</h3>
        </div>
        <div class="col-sm-4">
            <img class="img-circle img-responsive img-center" src="img/img3.png" alt="">
            <h2 align="center" style="font-weight:bold;">Reserva y paga un cuidador</h2>
            <h3 align="center">Llama y conoce al cuidador de tu preferencia.</h3>
        </div>
        <div class="col-sm-4">

            <img class="img-circle img-responsive img-center" src="img/img4.png" alt="">
            <h2 align="center" style="font-weight:bold;">Despreocúpate</h2>
            <h3 align="center">Recibirás fotos de tu mascota, póliza de seguro y atención al cliente 24/7.</h3>

        </div>
    </div>
    <!-- /.row -->

    <div class="row">
      <div class="col-xs-12">
        <h2 class="paytone" style="font-weight: bold">PamDogs garantiza tu tranquilidad mientras tu mascota esta fuera de casa.</h2>
      </div>
      <div class="col-xs-6">
        <img src="img/shield-big.png" class="img-responsive">

      </div>
      <div class="col-xs-6">
        <div class="col-lg-8 home-list" >
          <img src="img/photo-camera.png" alt="" class="home-list-element">
          <span class="home-list-element text-center">Envío de fotografías de tu mascota para que veas como se divierte.</span>
        </div>
        <div class="col-lg-8 col-lg-offset-4 home-list" >
          <img src="img/shield-purple.png" alt="" class="home-list-element">
          <span class="home-list-element text-center">Seguro para tu mascota en todas las reservas realizadas a través de PamDogs.com</span>
        </div>
        <div class="col-lg-8 home-list" >
          <img src="img/msj.png" alt="" class="home-list-element">
          <span class="home-list-element text-center">Atención al cliente vía telefónica, email y chat- Disponible para lo que necesites.</span>
        </div>
        <div class="col-lg-8 col-lg-offset-4 home-list" >
          <img src="img/checkedgreen.png" alt="" class="home-list-element">
          <span class="home-list-element text-center">Todos los cuidadores han sido previamente verificados.</span>
        </div>
      </div>
    </div>

    <div class="row">
      <h2>Los cuidadores de PamDogs se preocupan por tus mascotas como si fueran propias.</h2>
      <h4>Testimonios de dueños de mascotas como tú:</h4>
      <div class="col-lg-6">
        <div class="panel panel-default">
          <div class="panel-body">
            <img src="img/12.jpg" class="img-responsive" alt="" style="width:100%;margin-bottom:10px;">
            <div class="col-xs-3">
              <img src="img/profi2.png" class="center-block" alt="">
              <img src="img/star_on.png" class="star">
              <img src="img/star_on.png" class="star">
              <img src="img/star_on.png" class="star">
              <img src="img/star_on.png" class="star">
              <img src="img/star_off.png" class="star">
            </div>
            <div class="col-xs-9">
              <p>Diego Martínez / Medellín.</p>
              <p style="font-style:italic;">“Tras dejar a nuestra perrita Chessy con Irene, sólo podemos trasladar nuestro más sincero agradecimiento por su atención y cariño.”</p>
            </div>
          </div>

        </div>
      </div>
      <div class="col-lg-6">
        <div class="panel panel-default">
          <div class="panel-body">
            <img src="img/11.jpg" class="img-responsive" alt="" style="width:100%;margin-bottom:10px;">
            <div class="col-xs-3">
              <img src="img/profm.png" class="center-block" alt="">
              <img src="img/star_on.png" class="star">
              <img src="img/star_on.png" class="star">
              <img src="img/star_on.png" class="star">
              <img src="img/star_on.png" class="star">
              <img src="img/star_off.png" class="star">
            </div>
            <div class="col-xs-9">
              <p>Paola López / Bogotá.</p>
              <p style="font-style:italic;">“Durante nuestras vacaciones recibimos todos los días una colección de fotos que hicieron durante el hospedaje: paseos, diversión y muchos mimos.”</p>
            </div>
          </div>

        </div>
      </div>
    </div>

    <hr>



</div>
<!-- /.container -->
