<div class="container" >
  <div class="row main">
    <div class="panel-heading">
      <div class="panel-title text-center">
      </div>
    </div>
    <div class="main-login main-center">
      <h1 class="title">Regístrate</h1>
      <hr class="color"/>
      <button class="btn boton-facebook btn-lg btn-block login-button" type="button">Resgistrate con Facebook</button>
      <h6 align="center">Tomaremos algunos datos de tu perfil de Facebook para realizar tu registro.</h6>
      <hr class="hr1" align="center" />

        <form name="register" novalidate>
          <div class="form-group" ng-class="{ 'has-error': register.emailRegister.$touched && register.emailRegister.$invalid }">
            <input type="email" class="form-control" name="emailRegister" ng-model="auth.emailRegister" placeholder="Direccion de Email" required>

            <div class="help-block" ng-messages="register.emailRegister.$error" ng-show="register.emailRegister.$touched && register.emailRegister.$invalid">
                <div ng-messages-include="app/views/messages.html"></div>
            </div>
          </div>
          <div class="form-group" ng-class="{ 'has-error': register.password.$touched && register.password.$invalid }">

            <input type="password" class="form-control" name="password" ng-model="auth.password" placeholder="Constraseña" required>

            <div class="help-block" ng-messages="register.password.$error" ng-show="register.password.$touched && register.password.$invalid">
                <div ng-messages-include="app/views/messages.html"></div>
            </div>
          </div>
          <div class="form-group" ng-class="{ 'has-error': register.confirm.$touched && register.confirm.$invalid }">

            <input type="password" class="form-control" name="confirm" ng-model="auth.confirm" placeholder="Confirmar contraseña" compare-to="auth.password" required>

            <div class="help-block" ng-messages="register.confirm.$error" ng-show="register.confirm.$touched && register.confirm.$invalid">
                <div ng-messages-include="app/views/messages.html"></div>
            </div>
          </div>
          <br>
          <div class="form-group">
            <button type="submit" class="btn boton btn-lg btn-block login-button" ng-disabled="register.$invalid" ng-click="auth.registerUser()"><strong>Registrar</strong></button>
            <h6 align="center">¿Ya eres miembro? <a href="#">Accede aqui</a></h6>
            <br>
            <h6 align="center">Al registrarte estás aceptando nuestros <a href="#">Términos y Condiciones</a> al igual que nuestras <a href="#">Política de Privacidad</a>.</h6>
          </div>
        </form>

    </div>
  </div>
</div>
