/*
/* Created by Filipe Pina
 * Specific styles of signin, register, component
 */
/*
 * General styles
 */


body, html{
    height: 100%;
    background-repeat: no-repeat;
    background-color: #f2f2f2;
    font-family: 'Oxygen', sans-serif;
}

.main{
    margin-top: 40px;
}

h1.title { 
    text-shadow: 7px 1px 7px rgba(0,0,0,0.11);
    box-shadow: none;
    background-color: transparent;
    color: #F6515E;
    font-size: 30px;
    text-align: center;
    line-height: 20px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    font-stretch: expanded;
    position: relative;
}

hr{
    width: 100%;
    height:5px;  
    background-color: #F6515E;
    border: none;
    border-radius: 200px;
}

.hr1{
    width: 110%;
    height:5px;  
    background-color: #F6515E;
    border: none;
    border-radius: 200px;
    margin-left: -13px;
}

.boton{ 
    background: #F6515E; 
    padding: 10px; 
    color: #FFFFFF;
    font-size: 2vh;
}

.boton:hover {
    background-color: #ce1212; /* Green */
    color: white;
}

.boton-facebook{
    box-shadow: 0px 4px 8px rgba(0,0,0,0.11);
    border-color: #787878;
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    border-radius: 4px;
    padding-bottom: 3px;
    background: #3B5998 url(../img/f.png) no-repeat left center;
    background-size: contain;
    color: white;
    font-size: 2vh;
}
.boton-facebook:hover{
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    background: #3B59DB url(../img/f.png) no-repeat left center;
    background-size: contain;
}



.form-group{
    margin-bottom: 6px;
    border-radius: 60px;
    vertical-align: center;
}

label{
    margin-bottom: 15px;
}

input,
input::-webkit-input-placeholder {
    font-size: 15px;
    padding-top: 3px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 700;
}

.main-login{
    background-color: #e0e0e9;
    /* shadows and rounded borders */
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);

}

.main-center{
    margin-top: 10px;
    margin: 0 auto;
    max-width: 350px;
    padding: 40px 40px;

}

.login-button{
    margin-top: 2px;
}

.login-register{
    font-size: 20px;
    text-align: center;
}

.contact-center{
    margin-top: 10px;
    margin: 0 auto;
    max-width: 835px;
    padding: 40px 40px;
}

.contact-color{
    background-color: #FFFFFF;
    /* shadows and rounded borders */
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.contact-margen{
    margin-top: 10px;
    margin: 0 auto;
    max-width: 663px;
    padding: 40px 40px;
}

.textbox{
  border: 1px solid #DBE1EB;
  font-size: 13px;
  font-family: Arial, Verdana;
  padding-left: 17px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  background: #FFFFFF;
  background: linear-gradient(left, #FFFFFF, #F7F9FA);
  background: -moz-linear-gradient(left, #FFFFFF, #F7F9FA);
  background: -webkit-linear-gradient(left, #FFFFFF, #F7F9FA);
  background: -o-linear-gradient(left, #FFFFFF, #F7F9FA);
  color: #2E3133;
  }

.textareas{
  border: 1px solid #DBE1EB;
  font-size: 14px;
  border-radius: 9px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  background: #FFFFFF;
  background: linear-gradient(left, #FFFFFF, #F7F9FA);
  background: -moz-linear-gradient(left, #FFFFFF, #F7F9FA);
  background: -webkit-linear-gradient(left, #FFFFFF, #F7F9FA);
  background: -o-linear-gradient(left, #FFFFFF, #F7F9FA);
  color: #2E3133;
}

.etiqueta{
     width: 250px; 
     height: 40px; 
     border: 1px solid #555;
     background: #F6515E;
     margin-left: 50px;
     border-radius: 6px;
}

.cambio-input[type=radio],
.cambio-input[type=checkbox]{
  /* Hide original inputs */
  visibility: hidden;
  position: absolute;
}
.cambio-input[type=radio] + label:before,
.cambio-input[type=checkbox] + label:before{
  height:12px;
  width:12px;
  margin-right: 2px;
  content: " ";
  display:inline-block;
  vertical-align: baseline;
  border:1px solid #777;
}
.cambio-input[type=radio]:checked + label:before,
.cambio-input[type=checkbox]:checked + label:before{
  background:gold;
}