.version.cuidadores {
  color: #0000FF;
  background-color: #2A315E;
}

#muse_css_mq {
  background-color: #FFFFFF;
}

#page {
  z-index: 1;
  min-height: 1405px;
  background-image: none;
  border-width: 0px;
  border-color: #000000;
  background-color: #F2F2F2;
  padding-bottom: 220px;
  width: 100%;
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
}

#u3507 {
  z-index: 237;
  width: 75px;
  min-height: 75px;
  position: relative;
  margin-right: -10000px;
  margin-top: 45px;
  left: -26.37%;
}

#u2503 {
  z-index: 2;
  width: 50px;
  min-height: 70px;
  position: relative;
  margin-right: -10000px;
  margin-top: -1px;
  left: -188px;
}

#u31814 {
  z-index: 56;
  background-color: #FFFFFF;
  padding-top: 14px;
  padding-bottom: 110.63550295857954px;
  position: relative;
  margin-right: -10000px;
  margin-top: 224px;
  width: 64.85%;
  left: -14.75%;
}

#u31815 {
  z-index: 57;
  border-style: solid;
  border-color: #8B878C;
  background-color: transparent;
  padding-bottom: 9px;
  position: relative;
  width: 96.84%;
  margin-left: 1.66%;
  border-width: 0px 0px 1px;
}

#pu31819 {
  z-index: 61;
  width: 99.56%;
  margin-left: 0.45%;
}

#u31819 {
  z-index: 61;
  background-color: transparent;
  position: relative;
  margin-right: -10000px;
  width: 20.45%;
}

#pu31883-4 {
  z-index: 137;
  margin-right: -10000px;
  margin-top: 10px;
  width: 76.41%;
  margin-left: 23.6%;
}

#u31883-4 {
  z-index: 137;
  min-height: 21px;
  background-color: transparent;
  font-size: 19px;
  line-height: 23px;
  font-family: source-sans-pro, sans-serif;
  font-weight: 700;
  position: relative;
  width: 39.42%;
}

#u31895-4 {
  z-index: 185;
  min-height: 67px;
  background-color: transparent;
  font-size: 14px;
  line-height: 17px;
  font-family: source-sans-pro, sans-serif;
  font-weight: 600;
  margin-top: 8px;
  position: relative;
  width: 100%;
}

#pu31827 {
  z-index: 69;
  margin-top: 8px;
  width: 38.71%;
}

#u31827 {
  z-index: 69;
  background-color: transparent;
  position: relative;
  margin-right: -10000px;
  width: 11.57%;
}

#u31879-4 {
  z-index: 121;
  min-height: 19px;
  background-color: transparent;
  font-size: 11px;
  line-height: 13px;
  font-family: source-sans-pro, sans-serif;
  font-weight: 600;
  position: relative;
  margin-right: -10000px;
  margin-top: 2px;
  width: 87.87%;
  left: 12.14%;
}

#pu31887-4 {
  z-index: 153;
  padding-bottom: 0px;
  margin-right: -10000px;
  margin-top: 15px;
  width: 21.16%;
  margin-left: 79.63%;
}

#u31887-4 {
  z-index: 153;
  min-height: 26px;
  background-color: transparent;
  line-height: 24px;
  font-size: 20px;
  text-align: center;
  font-family: source-sans-pro, sans-serif;
  font-weight: 700;
  position: relative;
  width: 72.06%;
  margin-left: 13.98%;
}

#u31891-4 {
  z-index: 169;
  min-height: 21px;
  background-color: transparent;
  font-size: 12px;
  line-height: 15px;
  font-family: source-sans-pro, sans-serif;
  font-weight: 600;
  position: relative;
  width: 100%;
}

#u31835 {
  z-index: 77;
  border-width: 0px;
  border-color: transparent;
  background-color: transparent;
  margin-top: 64px;
  position: relative;
  width: 78.68%;
  margin-left: 16.18%;
}

#u31840 {
  z-index: 78;
  background-color: transparent;
  position: relative;
  margin-right: -10000px;
  width: 18.7%;
}

#u31842 {
  z-index: 80;
  background-color: transparent;
  position: relative;
  margin-right: -10000px;
  width: 18.7%;
  left: 20.57%;
}

#u31844 {
  z-index: 82;
  background-color: transparent;
  position: relative;
  margin-right: -10000px;
  width: 18.7%;
  left: 41.13%;
}

#u31836 {
  z-index: 84;
  background-color: transparent;
  position: relative;
  margin-right: -10000px;
  width: 18.7%;
  left: 61.69%;
}

#u31838 {
  z-index: 86;
  background-color: transparent;
  position: relative;
  margin-right: -10000px;
  width: 17.76%;
  left: 82.25%;
}

#u31816 {
  z-index: 58;
  border-style: solid;
  border-color: #8B878C;
  background-color: transparent;
  padding-bottom: 9px;
  top: -1px;
  margin-bottom: -1px;
  position: relative;
  width: 96.84%;
  margin-left: 1.66%;
  border-width: 0px 0px 1px;
}

#pu31821 {
  z-index: 63;
  width: 99.56%;
  margin-left: 0.45%;
}

#u31821 {
  z-index: 63;
  background-color: transparent;
  position: relative;
  margin-right: -10000px;
  width: 20.45%;
}

#pu31884-4 {
  z-index: 141;
  margin-right: -10000px;
  margin-top: 10px;
  width: 76.41%;
  margin-left: 23.6%;
}

#u31884-4 {
  z-index: 141;
  min-height: 21px;
  background-color: transparent;
  font-size: 19px;
  line-height: 23px;
  font-family: source-sans-pro, sans-serif;
  font-weight: 700;
  position: relative;
  width: 39.42%;
}

#u31896-4 {
  z-index: 189;
  min-height: 67px;
  background-color: transparent;
  font-size: 14px;
  line-height: 17px;
  font-family: source-sans-pro, sans-serif;
  font-weight: 600;
  margin-top: 8px;
  position: relative;
  width: 100%;
}

#pu31829 {
  z-index: 71;
  margin-top: 8px;
  width: 38.71%;
}

#u31829 {
  z-index: 71;
  background-color: transparent;
  position: relative;
  margin-right: -10000px;
  width: 11.57%;
}

#u31880-4 {
  z-index: 125;
  min-height: 19px;
  background-color: transparent;
  font-size: 11px;
  line-height: 13px;
  font-family: source-sans-pro, sans-serif;
  font-weight: 600;
  position: relative;
  margin-right: -10000px;
  margin-top: 2px;
  width: 87.87%;
  left: 12.14%;
}

#pu31888-4 {
  z-index: 157;
  padding-bottom: 0px;
  margin-right: -10000px;
  margin-top: 15px;
  width: 21.16%;
  margin-left: 79.63%;
}

#u31888-4 {
  z-index: 157;
  min-height: 26px;
  background-color: transparent;
  line-height: 24px;
  font-size: 20px;
  text-align: center;
  font-family: source-sans-pro, sans-serif;
  font-weight: 700;
  position: relative;
  width: 72.06%;
  margin-left: 13.98%;
}

#u31892-4 {
  z-index: 173;
  min-height: 21px;
  background-color: transparent;
  font-size: 12px;
  line-height: 15px;
  font-family: source-sans-pro, sans-serif;
  font-weight: 600;
  position: relative;
  width: 100%;
}

#u31846 {
  z-index: 88;
  border-width: 0px;
  border-color: transparent;
  background-color: transparent;
  margin-top: 64px;
  position: relative;
  width: 78.68%;
  margin-left: 16.18%;
}

#u31851 {
  z-index: 89;
  background-color: transparent;
  position: relative;
  margin-right: -10000px;
  width: 18.7%;
}

#u31853 {
  z-index: 91;
  background-color: transparent;
  position: relative;
  margin-right: -10000px;
  width: 18.7%;
  left: 20.57%;
}

#u31849 {
  z-index: 93;
  background-color: transparent;
  position: relative;
  margin-right: -10000px;
  width: 18.7%;
  left: 41.13%;
}

#u31855 {
  z-index: 95;
  background-color: transparent;
  position: relative;
  margin-right: -10000px;
  width: 18.7%;
  left: 61.69%;
}

#u31847 {
  z-index: 97;
  background-color: transparent;
  position: relative;
  margin-right: -10000px;
  width: 17.76%;
  left: 82.25%;
}

#u31817 {
  z-index: 59;
  border-style: solid;
  border-color: #8B878C;
  background-color: transparent;
  padding-bottom: 9px;
  position: relative;
  width: 96.84%;
  margin-left: 1.66%;
  border-width: 0px 0px 1px;
}

#pu31823 {
  z-index: 65;
  width: 99.56%;
  margin-left: 0.45%;
}

#u31823 {
  z-index: 65;
  background-color: transparent;
  position: relative;
  margin-right: -10000px;
  width: 20.45%;
}

#pu31885-4 {
  z-index: 145;
  margin-right: -10000px;
  margin-top: 10px;
  width: 76.41%;
  margin-left: 23.6%;
}

#u31885-4 {
  z-index: 145;
  min-height: 21px;
  background-color: transparent;
  font-size: 19px;
  line-height: 23px;
  font-family: source-sans-pro, sans-serif;
  font-weight: 700;
  position: relative;
  width: 39.42%;
}

#u31897-4 {
  z-index: 193;
  min-height: 67px;
  background-color: transparent;
  font-size: 14px;
  line-height: 17px;
  font-family: source-sans-pro, sans-serif;
  font-weight: 600;
  margin-top: 8px;
  position: relative;
  width: 100%;
}

#pu31831 {
  z-index: 73;
  margin-top: 8px;
  width: 38.71%;
}

#u31831 {
  z-index: 73;
  background-color: transparent;
  position: relative;
  margin-right: -10000px;
  width: 11.57%;
}

#u31881-4 {
  z-index: 129;
  min-height: 19px;
  background-color: transparent;
  font-size: 11px;
  line-height: 13px;
  font-family: source-sans-pro, sans-serif;
  font-weight: 600;
  position: relative;
  margin-right: -10000px;
  margin-top: 2px;
  width: 87.87%;
  left: 12.14%;
}

#pu31889-4 {
  z-index: 161;
  padding-bottom: 0px;
  margin-right: -10000px;
  margin-top: 15px;
  width: 21.16%;
  margin-left: 79.63%;
}

#u31889-4 {
  z-index: 161;
  min-height: 26px;
  background-color: transparent;
  line-height: 24px;
  font-size: 20px;
  text-align: center;
  font-family: source-sans-pro, sans-serif;
  font-weight: 700;
  position: relative;
  width: 72.06%;
  margin-left: 13.98%;
}

#u31893-4 {
  z-index: 177;
  min-height: 21px;
  background-color: transparent;
  font-size: 12px;
  line-height: 15px;
  font-family: source-sans-pro, sans-serif;
  font-weight: 600;
  position: relative;
  width: 100%;
}

#u31857 {
  z-index: 99;
  border-width: 0px;
  border-color: transparent;
  background-color: transparent;
  margin-top: 64px;
  position: relative;
  width: 78.68%;
  margin-left: 16.18%;
}

#u31862 {
  z-index: 100;
  background-color: transparent;
  position: relative;
  margin-right: -10000px;
  width: 18.7%;
}

#u31860 {
  z-index: 102;
  background-color: transparent;
  position: relative;
  margin-right: -10000px;
  width: 18.7%;
  left: 20.57%;
}

#u31864 {
  z-index: 104;
  background-color: transparent;
  position: relative;
  margin-right: -10000px;
  width: 18.7%;
  left: 41.13%;
}

#u31858 {
  z-index: 106;
  background-color: transparent;
  position: relative;
  margin-right: -10000px;
  width: 18.7%;
  left: 61.69%;
}

#u31866 {
  z-index: 108;
  background-color: transparent;
  position: relative;
  margin-right: -10000px;
  width: 17.76%;
  left: 82.25%;
}

#u31818 {
  z-index: 60;
  border-style: solid;
  border-color: #8B878C;
  background-color: transparent;
  padding-bottom: 9px;
  top: -1px;
  margin-bottom: -1px;
  position: relative;
  width: 96.84%;
  margin-left: 1.66%;
  border-width: 0px 0px 1px;
}

#ppu31819, #ppu31821, #ppu31823, #ppu31825 {
  z-index: 0;
  margin-right: -10000px;
  margin-top: 11px;
  width: 69.52%;
  margin-left: 1.87%;
}

#pu31825 {
  z-index: 67;
  width: 99.56%;
  margin-left: 0.45%;
}

#u31825 {
  z-index: 67;
  background-color: transparent;
  position: relative;
  margin-right: -10000px;
  width: 20.45%;
}

#pu31886-4 {
  z-index: 149;
  margin-right: -10000px;
  margin-top: 10px;
  width: 76.41%;
  margin-left: 23.6%;
}

#u31886-4 {
  z-index: 149;
  min-height: 21px;
  background-color: transparent;
  font-size: 19px;
  line-height: 23px;
  font-family: source-sans-pro, sans-serif;
  font-weight: 700;
  position: relative;
  width: 39.42%;
}

#u31898-4 {
  z-index: 197;
  min-height: 67px;
  background-color: transparent;
  font-size: 14px;
  line-height: 17px;
  font-family: source-sans-pro, sans-serif;
  font-weight: 600;
  margin-top: 8px;
  position: relative;
  width: 100%;
}

#pu31833 {
  z-index: 75;
  margin-top: 8px;
  width: 38.71%;
}

#u31833 {
  z-index: 75;
  background-color: transparent;
  position: relative;
  margin-right: -10000px;
  width: 11.57%;
}

#u31882-4 {
  z-index: 133;
  min-height: 19px;
  background-color: transparent;
  font-size: 11px;
  line-height: 13px;
  font-family: source-sans-pro, sans-serif;
  font-weight: 600;
  position: relative;
  margin-right: -10000px;
  margin-top: 2px;
  width: 87.87%;
  left: 12.14%;
}

#pu31890-4 {
  z-index: 165;
  padding-bottom: 0px;
  margin-right: -10000px;
  margin-top: 15px;
  width: 21.16%;
  margin-left: 79.63%;
}

#u31890-4 {
  z-index: 165;
  min-height: 26px;
  background-color: transparent;
  line-height: 24px;
  font-size: 20px;
  text-align: center;
  font-family: source-sans-pro, sans-serif;
  font-weight: 700;
  position: relative;
  width: 72.06%;
  margin-left: 13.98%;
}

#u31894-4 {
  z-index: 181;
  min-height: 21px;
  background-color: transparent;
  font-size: 12px;
  line-height: 15px;
  font-family: source-sans-pro, sans-serif;
  font-weight: 600;
  position: relative;
  width: 100%;
}

#u31868 {
  z-index: 110;
  border-width: 0px;
  border-color: transparent;
  background-color: transparent;
  margin-top: 64px;
  position: relative;
  width: 78.68%;
  margin-left: 16.18%;
}

#u31875 {
  z-index: 111;
  background-color: transparent;
  position: relative;
  margin-right: -10000px;
  width: 18.7%;
}

#u31873 {
  z-index: 113;
  background-color: transparent;
  position: relative;
  margin-right: -10000px;
  width: 18.7%;
  left: 20.57%;
}

#u31871 {
  z-index: 115;
  background-color: transparent;
  position: relative;
  margin-right: -10000px;
  width: 18.7%;
  left: 41.13%;
}

#u31877 {
  z-index: 117;
  background-color: transparent;
  position: relative;
  margin-right: -10000px;
  width: 18.7%;
  left: 61.69%;
}

#u31869 {
  z-index: 119;
  background-color: transparent;
  position: relative;
  margin-right: -10000px;
  width: 17.76%;
  left: 82.25%;
}

#widgetu31778 {
  z-index: 3;
  width: 0.01px;
  height: 95px;
  position: relative;
  margin-right: -10000px;
  margin-top: 59px;
  left: -140px;
}

#u31801-4 {
  z-index: 4;
  width: 200px;
  min-height: 21px;
  background-color: transparent;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  padding-top: 4px;
  font-size: 12px;
  line-height: 14px;
  font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
  position: relative;
  margin-right: -10000px;
  margin-top: 40px;
  left: 459px;
}

#widgetu31778.frm-sub-st #u31801-4 p {
  color: #999999;
  line-height: 1;
  font-size: 14px;
  font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
  font-style: italic;
}

#u31800-4 {
  z-index: 8;
  width: 200px;
  min-height: 21px;
  background-color: transparent;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  padding-top: 4px;
  color: #FF0000;
  font-size: 12px;
  line-height: 14px;
  font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
  position: relative;
  margin-right: -10000px;
  margin-top: 41px;
  left: 459px;
}

#widgetu31778.frm-subm-err-st #u31800-4 p {
  color: #D7244C;
  line-height: 1;
  font-size: 14px;
  font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
  font-style: italic;
}

#u31810-4 {
  z-index: 12;
  width: 170px;
  min-height: 21px;
  background-color: transparent;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  padding-top: 4px;
  color: #00FF00;
  font-size: 12px;
  line-height: 12px;
  font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
  position: relative;
  margin-right: -10000px;
  margin-top: 41px;
  left: 459px;
}

#widgetu31778.frm-sub-st #u31801-4, #widgetu31778.frm-subm-err-st #u31800-4, #widgetu31778.frm-subm-ok-st #u31810-4 {
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  min-height: 25px;
}

#widgetu31778.frm-subm-ok-st #u31810-4 p {
  color: #999999;
  font-size: 14px;
  font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
  font-style: italic;
}

#u31791-4 {
  width: 187px;
  height: 29px;
  border-width: 0px;
  border-color: transparent;
  background-color: #DB4752;
  border-radius: 0px 3px 3px 0px;
  line-height: 21px;
  text-align: center;
  color: #FFFFFF;
  font-size: 16px;
  font-family: source-sans-pro, sans-serif;
  font-weight: 700;
  position: relative;
  margin-right: -10000px;
  left: 459px;
  padding: 9px 0px 0px;
}

#u31791-4:hover {
  border-width: 0px;
  border-color: transparent;
  background-color: #F6515E;
  padding-top: 9px;
  padding-bottom: 0px;
  min-height: 0px;
  width: 187px;
  height: 29px;
  margin: 0px -10000px 0px 0px;
}

#widgetu31778.frm-sub-st #u31791-4 {
  border-style: solid;
  border-width: 1px;
  border-color: #DEDEDE;
  background-color: #F6515E;
  margin-right: -10001px;
  margin-bottom: -1px;
  width: 186px;
  height: 28px;
  min-height: 0px;
}

#u31791-4:active {
  box-shadow: none;
  border-style: solid;
  border-width: 1px;
  border-color: #FBF4EC;
  background-color: #C44752;
  padding-top: 9px;
  padding-bottom: 0px;
  min-height: 0px;
  width: 186px;
  height: 28px;
  margin: 0px -10001px -1px 0px;
}

#u31791-4:active * {
  font-weight: bold;
}

#widgetu31787 {
  z-index: 20;
  width: 299px;
  height: 38px;
  border-width: 0px;
  border-color: transparent;
  background-color: transparent;
  position: relative;
  margin-right: -10000px;
}

#widgetu31787.fld-err-st {
  background-color: transparent;
  border-radius: 0px;
  width: 299px;
  height: 38px;
  min-height: 0px;
  margin: 0px -10000px 0px 0px;
}

#u31789-4 {
  z-index: 21;
  width: 273px;
  min-height: 24px;
  border-width: 0px;
  border-color: transparent;
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  border-radius: 3px 0px 0px 3px;
  font-size: 18px;
  color: #8B878C;
  line-height: 18px;
  font-family: source-sans-pro, sans-serif;
  font-weight: 700;
  font-style: italic;
  position: relative;
  margin-right: -10000px;
  padding: 8px 6px 6px 20px;
  background: transparent url("../images/casilla-locacion.jpg?crc=3836058319") no-repeat center center;
  background-size: contain;
}

#widgetu31787.non-empty-st #u31789-4 {
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  background: #FFFFFF url("../images/casilla-locacion.jpg?crc=3836058319") no-repeat center center;
  background-size: contain;
}

#widgetu31787:hover #u31789-4 {
  border-width: 0px;
  border-color: transparent;
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  padding-top: 8px;
  padding-bottom: 6px;
  min-height: 24px;
  width: 273px;
  margin: 0px -10000px 0px 0px;
  background: #FFFFFF url("../images/casilla-locacion.jpg?crc=3836058319") no-repeat center center;
  background-size: contain;
}

#widgetu31787.focus-st #u31789-4 {
  border-width: 0px;
  border-color: transparent;
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  padding-top: 8px;
  padding-bottom: 6px;
  min-height: 24px;
  width: 273px;
  margin: 0px -10000px 0px 0px;
  background: #FFFFFF url("../images/casilla-locacion.jpg?crc=3836058319") no-repeat center center;
  background-size: contain;
}

#widgetu31787.fld-err-st #u31789-4 {
  border-width: 0px;
  border-color: transparent;
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  padding-top: 8px;
  padding-bottom: 6px;
  min-height: 24px;
  width: 273px;
  margin: 0px -10000px 0px 0px;
  background: #FFFFFF url("../images/casilla-locacion.jpg?crc=3836058319") no-repeat center center;
  background-size: contain;
}

#widgetu31787.non-empty-st #u31789-4 * {
  color: #000000;
  font-style: normal;
}

#widgetu31787:hover #u31789-4 * {
  color: #000000;
  font-style: normal;
}

#widgetu31787.focus-st #u31789-4 * {
  color: #000000;
  font-style: normal;
}

#widgetu31787_input, #widgetu31787_prompt {
  width: 273px;
  min-height: 24px;
  color: #8B878C;
  font-family: source-sans-pro, sans-serif;
  font-size: 18px;
  font-style: italic;
  font-weight: 700;
  padding: 8px 6px 6px 20px;
}

#widgetu31787:hover #widgetu31787_input, #widgetu31787.focus-st #widgetu31787_input, #widgetu31787.fld-err-st #widgetu31787_input, #widgetu31787:hover #widgetu31787_prompt, #widgetu31787.focus-st #widgetu31787_prompt, #widgetu31787.fld-err-st #widgetu31787_prompt {
  padding-top: 8px;
  padding-bottom: 6px;
}

#widgetu31792 {
  z-index: 25;
  width: 80px;
  height: 38px;
  border-width: 0px;
  border-color: transparent;
  background-color: transparent;
  position: relative;
  margin-right: -10000px;
  left: 299px;
}

#u31793-4 {
  z-index: 26;
  width: 56px;
  min-height: 19px;
  border-width: 0px;
  border-color: transparent;
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  line-height: 12px;
  text-align: left;
  color: #89878B;
  font-size: 12px;
  font-family: source-sans-pro, sans-serif;
  font-weight: 700;
  font-style: italic;
  position: relative;
  margin-right: -10000px;
  padding: 13px 6px 6px 18px;
  background: #FFFFFF url("../images/casilla-calendario.jpg?crc=485960892") no-repeat center center;
  background-size: cover;
}

#widgetu31792.non-empty-st #u31793-4 {
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #FFFFFF;
  background-size: cover;
}

#widgetu31792:hover #u31793-4 {
  background-repeat: no-repeat;
  background-position: center center;
  padding-top: 13px;
  padding-bottom: 6px;
  min-height: 19px;
  width: 56px;
  margin: 0px -10000px 0px 0px;
  background-size: cover;
}

#widgetu31792.fld-err-st #u31793-4 {
  background-repeat: no-repeat;
  background-position: center center;
  padding-top: 13px;
  padding-bottom: 6px;
  min-height: 19px;
  width: 56px;
  margin: 0px -10000px 0px 0px;
  background-size: cover;
}

#widgetu31792.non-empty-st #u31793-4 * {
  color: #000000;
  font-style: normal;
}

#widgetu31792:hover #u31793-4 * {
  color: #000000;
  text-align: left;
  font-style: normal;
}

#widgetu31792_input, #widgetu31792_prompt {
  width: 56px;
  min-height: 19px;
  color: #89878B;
  text-align: left;
  font-family: source-sans-pro, sans-serif;
  font-size: 12px;
  font-style: italic;
  font-weight: 700;
  padding: 13px 6px 6px 18px;
}

#widgetu31806 {
  z-index: 30;
  width: 80px;
  height: 38px;
  border-width: 0px;
  border-color: transparent;
  background-color: transparent;
  position: relative;
  margin-right: -10000px;
  left: 379px;
}

#widgetu31792.fld-err-st, #widgetu31806.fld-err-st {
  background-color: transparent;
  border-radius: 0px;
  width: 80px;
  height: 38px;
  min-height: 0px;
  margin: 0px -10000px 0px 0px;
}

#u31808-4 {
  z-index: 31;
  width: 56px;
  min-height: 19px;
  border-width: 0px;
  border-color: transparent;
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  line-height: 12px;
  text-align: center;
  color: #89878B;
  font-size: 12px;
  font-family: source-sans-pro, sans-serif;
  font-weight: 700;
  font-style: italic;
  position: relative;
  margin-right: -10000px;
  padding: 13px 6px 6px 18px;
  background: #FFFFFF url("../images/casilla-calendario.jpg?crc=485960892") no-repeat center center;
  background-size: cover;
}

#widgetu31806.non-empty-st #u31808-4 {
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #FFFFFF;
  background-size: cover;
}

#widgetu31806:hover #u31808-4 {
  background-repeat: no-repeat;
  background-position: center center;
  border-width: 0px;
  border-color: transparent;
  padding-top: 13px;
  padding-bottom: 6px;
  min-height: 19px;
  width: 56px;
  margin: 0px -10000px 0px 0px;
  background-size: cover;
}

#widgetu31806.focus-st #u31808-4 {
  background-repeat: no-repeat;
  background-position: center center;
  border-width: 0px;
  border-color: transparent;
  padding-top: 13px;
  padding-bottom: 6px;
  min-height: 19px;
  width: 56px;
  margin: 0px -10000px 0px 0px;
  background-size: cover;
}

#widgetu31806.fld-err-st #u31808-4 {
  background-repeat: no-repeat;
  background-position: center center;
  border-width: 0px;
  border-color: transparent;
  padding-top: 13px;
  padding-bottom: 6px;
  min-height: 19px;
  width: 56px;
  margin: 0px -10000px 0px 0px;
  background-size: cover;
}

#widgetu31806.non-empty-st #u31808-4 * {
  color: #000000;
  font-style: normal;
}

#widgetu31806:hover #u31808-4 * {
  color: #000000;
  font-style: normal;
}

#widgetu31806.focus-st #u31808-4 * {
  color: #000000;
  font-style: normal;
}

#widgetu31787.fld-err-st #u31789-4 *, #widgetu31792.fld-err-st #u31793-4 *, #widgetu31806.fld-err-st #u31808-4 * {
  color: #D7244C;
  font-style: italic;
}

#widgetu31806_input, #widgetu31806_prompt {
  width: 56px;
  min-height: 19px;
  color: #89878B;
  text-align: center;
  font-family: source-sans-pro, sans-serif;
  font-size: 12px;
  font-style: italic;
  font-weight: 700;
  padding: 13px 6px 6px 18px;
}

#widgetu31792:hover #widgetu31792_input, #widgetu31792.fld-err-st #widgetu31792_input, #widgetu31792:hover #widgetu31792_prompt, #widgetu31792.fld-err-st #widgetu31792_prompt, #widgetu31806:hover #widgetu31806_input, #widgetu31806.focus-st #widgetu31806_input, #widgetu31806.fld-err-st #widgetu31806_input, #widgetu31806:hover #widgetu31806_prompt, #widgetu31806.focus-st #widgetu31806_prompt, #widgetu31806.fld-err-st #widgetu31806_prompt {
  padding-top: 13px;
  padding-bottom: 6px;
}

#widgetu31787.non-empty-st #widgetu31787_prompt, #widgetu31792.non-empty-st #widgetu31792_prompt, #widgetu31806.non-empty-st #widgetu31806_prompt {
  visibility: hidden;
}

#widgetu31802 {
  z-index: 35;
  width: 152px;
  height: 25px;
  border-width: 0px;
  border-color: transparent;
  background-color: transparent;
  position: relative;
  margin-right: -10000px;
  margin-top: 70px;
  left: 25px;
}

#widgetu31802.fld-err-st {
  background-color: transparent;
  border-radius: 0px;
  width: 152px;
  height: 25px;
  min-height: 0px;
  margin: 70px -10000px 0px 0px;
}

#u31805-4 {
  z-index: 36;
  width: 118px;
  min-height: 20px;
  border-width: 0px;
  border-color: transparent;
  background-color: transparent;
  color: #6B6B6B;
  text-align: left;
  line-height: 14px;
  font-family: source-sans-pro, sans-serif;
  font-weight: 700;
  position: relative;
  margin-right: -10000px;
  margin-top: 5px;
  left: 34px;
}

#widgetu31802.fld-err-st #u31805-4 {
  padding-top: 0px;
  padding-bottom: 0px;
  min-height: 20px;
  width: 118px;
  margin: 5px -10000px 0px 0px;
}

#u31804 {
  z-index: 40;
  width: 21px;
  height: 21px;
  background-color: transparent;
  position: relative;
  margin-right: -10000px;
}

#u31804 input.not_checked+label {
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  background: transparent url("../images/moon1.png?crc=86274553") no-repeat center center;
  background-size: contain;
}

#u31804 input:not(:checked)+label {
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  background: transparent url("../images/moon1.png?crc=86274553") no-repeat center center;
  background-size: contain;
}

#u31804 input.not_checked:active+label {
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  width: 21px;
  height: 21px;
  min-height: 0px;
  background: transparent url("../images/moon2.png?crc=205289190") no-repeat center center;
  background-size: contain;
}

#u31804 input:not(:checked):active+label {
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  width: 21px;
  height: 21px;
  min-height: 0px;
  background: transparent url("../images/moon2.png?crc=205289190") no-repeat center center;
  background-size: contain;
}

#u31804 input.checked+label {
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  background: transparent url("../images/moon2.png?crc=205289190") no-repeat center center;
  background-size: contain;
}

#u31804 input:checked+label {
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  background: transparent url("../images/moon2.png?crc=205289190") no-repeat center center;
  background-size: contain;
}

#widgetu31796 {
  z-index: 41;
  width: 151px;
  height: 26px;
  border-width: 0px;
  border-color: transparent;
  background-color: transparent;
  position: relative;
  margin-right: -10000px;
  margin-top: 69px;
  left: 268px;
}

#widgetu31796.fld-err-st {
  background-color: transparent;
  border-radius: 0px;
  width: 151px;
  height: 26px;
  min-height: 0px;
  margin: 69px -10000px 0px 0px;
}

#u31797-4 {
  z-index: 42;
  width: 118px;
  min-height: 20px;
  border-width: 0px;
  border-color: transparent;
  background-color: transparent;
  color: #6B6B6B;
  text-align: left;
  line-height: 14px;
  font-family: source-sans-pro, sans-serif;
  font-weight: 700;
  position: relative;
  margin-right: -10000px;
  margin-top: 6px;
  left: 33px;
}

#widgetu31796.fld-err-st #u31797-4 {
  padding-top: 0px;
  padding-bottom: 0px;
  min-height: 20px;
  width: 118px;
  margin: 6px -10000px 0px 0px;
}

#u31799 {
  z-index: 46;
  width: 21px;
  height: 21px;
  background-color: transparent;
  position: relative;
  margin-right: -10000px;
}

#u31799 input.not_checked+label {
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  background: transparent url("../images/house1.png?crc=4051795155") no-repeat center center;
  background-size: contain;
}

#u31799 input:not(:checked)+label {
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  background: transparent url("../images/house1.png?crc=4051795155") no-repeat center center;
  background-size: contain;
}

#u31799 input.not_checked:active+label {
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  width: 21px;
  height: 21px;
  min-height: 0px;
  background: transparent url("../images/house2.png?crc=4100913716") no-repeat center center;
  background-size: contain;
}

#u31799 input:not(:checked):active+label {
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  width: 21px;
  height: 21px;
  min-height: 0px;
  background: transparent url("../images/house2.png?crc=4100913716") no-repeat center center;
  background-size: contain;
}

#u31799 input.checked+label {
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  background: transparent url("../images/house2.png?crc=4100913716") no-repeat center center;
  background-size: contain;
}

#u31799 input:checked+label {
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  background: transparent url("../images/house2.png?crc=4100913716") no-repeat center center;
  background-size: contain;
}

#widgetu31802_input, #widgetu31796_input {
  width: 21px;
  height: 21px;
}

#widgetu31779 {
  z-index: 47;
  width: 123px;
  height: 26px;
  border-width: 0px;
  border-color: transparent;
  background-color: transparent;
  position: relative;
  margin-right: -10000px;
  margin-top: 69px;
  left: 515px;
}

#widgetu31779.fld-err-st {
  background-color: transparent;
  border-radius: 0px;
  width: 123px;
  height: 26px;
  min-height: 0px;
  margin: 69px -10000px 0px 0px;
}

#u31780-4 {
  z-index: 48;
  width: 89px;
  min-height: 20px;
  border-width: 0px;
  border-color: transparent;
  background-color: transparent;
  color: #6B6B6B;
  text-align: left;
  line-height: 14px;
  font-family: source-sans-pro, sans-serif;
  font-weight: 700;
  position: relative;
  margin-right: -10000px;
  margin-top: 6px;
  left: 34px;
}

#widgetu31779.fld-err-st #u31780-4 {
  padding-top: 0px;
  padding-bottom: 0px;
  min-height: 20px;
  width: 89px;
  margin: 6px -10000px 0px 0px;
}

#widgetu31802.fld-err-st #u31805-4 p, #widgetu31802.fld-err-st #u31805-4 span, #widgetu31796.fld-err-st #u31797-4 p, #widgetu31796.fld-err-st #u31797-4 span, #widgetu31779.fld-err-st #u31780-4 p, #widgetu31779.fld-err-st #u31780-4 span {
  color: #D7244C;
}

#u31781 {
  z-index: 52;
  width: 22px;
  height: 22px;
  background-color: transparent;
  position: relative;
  margin-right: -10000px;
}

#u31781 input.not_checked+label {
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  background: transparent url("../images/paseo1.png?crc=4137058817") no-repeat center center;
  background-size: contain;
}

#u31781 input:not(:checked)+label {
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  background: transparent url("../images/paseo1.png?crc=4137058817") no-repeat center center;
  background-size: contain;
}

#u31781 input.not_checked:active+label {
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  width: 22px;
  height: 22px;
  min-height: 0px;
  background: transparent url("../images/paseo2.png?crc=291668141") no-repeat center center;
  background-size: contain;
}

#u31781 input:not(:checked):active+label {
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  width: 22px;
  height: 22px;
  min-height: 0px;
  background: transparent url("../images/paseo2.png?crc=291668141") no-repeat center center;
  background-size: contain;
}

#u31781 input.checked+label {
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  background: transparent url("../images/paseo2.png?crc=291668141") no-repeat center center;
  background-size: contain;
}

#u31781 input:checked+label {
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  background: transparent url("../images/paseo2.png?crc=291668141") no-repeat center center;
  background-size: contain;
}

#widgetu31779_input {
  width: 22px;
  height: 22px;
}

#u14400 {
  z-index: 201;
  height: 46px;
  position: fixed;
  top: -1px;
}

#u14400-bw {
  z-index: 201;
}

#u187 {
  z-index: 202;
  width: 136px;
  height: 36px;
  position: fixed;
  top: 4px;
  left: 12px;
}

#u7006 {
  z-index: 238;
  width: 50px;
  min-height: 50px;
  position: relative;
  margin-right: -10000px;
  margin-top: 700px;
  left: 487px;
}

#u31811 {
  z-index: 53;
  background-color: transparent;
  -webkit-transform: matrix(0, -1, 1, 0, 146, 809);
  -ms-transform: matrix(0, -1, 1, 0, 146, 809);
  transform: matrix(0, -1, 1, 0, 146, 809);
  position: relative;
  margin-right: -10000px;
  margin-top: 166px;
  width: 93.27%;
  margin-left: 6.74%;
  left: 307px;
}

#u31813 {
  z-index: 55;
  height: 295px;
  background-color: #FBBEC3;
  background-color: rgba(246, 81, 94, 0.37);
  border-radius: 50%;
  position: relative;
  margin-right: -10000px;
  margin-top: 322px;
  width: 28.81%;
  left: 70.32%;
  -pie-background: rgba(246, 81, 94, 0.37);
}

#pu33319 {
  z-index: 203;
  padding-bottom: 60px;
  margin-right: -10000px;
  margin-top: -8px;
  width: 21.68%;
}

#u33319 {
  z-index: 203;
  position: fixed;
  top: 3px;
  right: 62px;
  width: 3.72%;
  max-width: 38px;
}

#u3502 {
  z-index: 205;
  width: 76px;
  min-height: 60px;
  position: fixed;
  top: -8px;
  right: 0px;
}

#u33329-4 {
  z-index: 239;
  min-height: 21px;
  position: fixed;
  top: 11px;
  right: 103px;
  width: 11.63%;
  max-width: 119px;
}

#accordionu3503 {
  z-index: 206;
  width: 300px;
  position: relative;
  margin-right: -10000px;
  margin-top: 45px;
  left: 104.2%;
}

#u3504 {
  z-index: 207;
  width: 300px;
  position: relative;
}

#u3505-3 {
  z-index: 208;
  width: 300px;
  min-height: 17px;
  position: relative;
}

#u3505-3.AccordionPanelTabOpen {
  padding-top: 0px;
  padding-bottom: 0px;
  min-height: 17px;
  width: 300px;
  margin: 0px;
}

#u3506 {
  z-index: 211;
  width: 300px;
  padding-bottom: 44px;
  position: relative;
}

#menuu5963 {
  z-index: 212;
  position: relative;
  margin-right: -10000px;
  margin-top: 59px;
  width: 91.67%;
  left: 4.34%;
}

#u5971 {
  position: relative;
  width: 100%;
}

#u5974 {
  min-height: 29px;
  padding-bottom: 49px;
  position: relative;
  margin-right: -10000px;
  width: 99.64%;
}

#u5974:hover {
  min-height: 29px;
  width: 99.64%;
  margin: 0px -10000px 0px 0%;
}

#u5977-4 {
  min-height: 29px;
  position: relative;
  margin-right: -10000px;
  top: 24px;
  width: 100%;
}

#u5974:hover #u5977-4 {
  padding-top: 0px;
  padding-bottom: 0px;
  min-height: 29px;
  width: 100%;
  margin: 0px -10000px 0px 0%;
}

#u5967 {
  min-height: 29px;
  padding-bottom: 49px;
  position: relative;
  margin-right: -10000px;
  width: 99.64%;
}

#u5969-4 {
  min-height: 29px;
  position: relative;
  margin-right: -10000px;
  top: 24px;
  width: 100%;
}

#u5974.MuseMenuActive #u5977-4, #u5967:hover #u5969-4 {
  padding-top: 0px;
  padding-bottom: 0px;
  min-height: 29px;
  width: 100%;
  margin: 0px -10000px 0px 0%;
}

#u6071 {
  min-height: 29px;
  padding-bottom: 49px;
  position: relative;
  margin-right: -10000px;
  width: 99.64%;
}

#u6074-4 {
  min-height: 29px;
  position: relative;
  margin-right: -10000px;
  top: 24px;
  width: 100%;
}

#u5967.MuseMenuActive #u5969-4, #u6071:hover #u6074-4 {
  padding-top: 0px;
  padding-bottom: 0px;
  min-height: 29px;
  width: 100%;
  margin: 0px -10000px 0px 0%;
}

#u5964, #u6068, #u6125 {
  margin-top: 2px;
  position: relative;
  width: 100%;
}

#u6126 {
  min-height: 29px;
  padding-bottom: 50px;
  position: relative;
  margin-right: -10000px;
  width: 99.64%;
}

#u5974.MuseMenuActive, #u5967.MuseMenuActive, #u6071.MuseMenuActive, #u6126.MuseMenuActive {
  min-height: 29px;
  width: 99.64%;
  margin: 0px -10000px 0px 0%;
}

#u6127-4 {
  min-height: 29px;
  position: relative;
  margin-right: -10000px;
  top: 25px;
  width: 100%;
}

#u6071.MuseMenuActive #u6074-4, #u6126:hover #u6127-4 {
  padding-top: 0px;
  padding-bottom: 0px;
  min-height: 29px;
  width: 100%;
  margin: 0px -10000px 0px 0%;
}

#u6126.MuseMenuActive #u6127-4 {
  padding-top: 0px;
  padding-bottom: 0px;
  min-height: 29px;
  width: 100%;
  margin: 0px -10000px 0px 0%;
}

.css_verticalspacer .verticalspacer {
  height: calc(100vh - 1624px);
}

.html {
  background-color: #F2F2F2;
}

body {
  position: relative;
  min-width: 320px;
}

#u31819_img, #u31827_img, #u31840_img, #u31842_img, #u31844_img, #u31836_img, #u31838_img, #u31821_img, #u31829_img, #u31851_img, #u31853_img, #u31849_img, #u31855_img, #u31847_img, #u31823_img, #u31831_img, #u31862_img, #u31860_img, #u31864_img, #u31858_img, #u31866_img, #u31825_img, #u31833_img, #u31875_img, #u31873_img, #u31871_img, #u31877_img, #u31869_img, #u31811_img, #u33319_img {
  width: 100%;
}
