<!-- Image Background Page Header -->
<header class="hazte-header" style="background: url('../img/cuidador.jpg') center center no-repeat scroll;">
    <div class="container">
        <div class=" row ">
        	<div class="col-md-12 banner-text ">
		        	<h1>¿Amas a las mascotas? <br/>
					¡Unete a nuestra<br/>manada!</h1>
					<span class="circle hidden-sm hidden-xs"></span>
					<img src="/img/line-ver.png" class="img-responsive line-ver hidden-sm hidden-xs">
					<span class="line-hor hidden-xs"></span>
					<span class="circle hidden-xs"></span>
		        	<a type="submit" class="btn boton btn-sm pull-right mb10" ><strong>¡Hazte Cuidador!</strong></a> 
        	</div>  
        	
        </div>
    </div>
</header>

<!-- Page Content -->
<div class="container hazte-container">

    <div class="row">
      	<div class=" col-md-12 col-lg-12 col-xs-12 col-sm-12 why text-center">
      		<h1 class="text-center rcenter pt-35">¿Por qué ser cuidador de mascotas?</h1>
      		<span class="sep-ver double"> </span>
      		<div class="row">
	      		<div class="col-md-4 col-sm-12 col-sm-6">
	      			<span class="sep-ver one-bottom mt10 mb0 hidden-sm"> </span>
	      			<h3>Soporte</h3>
					<img src="/img/msj2.png" class="img-responsive animation rcenter">
		      		<p>Asistencia telefónica, chats y correo electrónico 24/7 incluyendo asistencia veterinaria.</p>
		      		<span class="sep-ver one-top mb10"> </span>

	      			<h3 class=" visible-sm">Cobertura de seguro</h3>
					<img src="/img/segu.png" class="img-responsive animation rcenter visible-sm">
		      		<p class=" visible-sm">Seguro para mascotas, terceros y cobertura veterinaria.</p>
	      		</div>
	      		<div class="col-md-4 col-sm-12 col-sm-6">
	      			<h3 class="line">Obtén ganancias extras</h3>
	      			<img src="/img/003-coins.png" class="img-responsive animation rcenter">
		      		<p>Gana dinero en tu tiempo libre cuidando mascotas, tu estableces tus tarifas*. Se tu propio jefe. Disfruta de	pagos automáticos a tu cuenta con nuestra plataforma segura, la libertad de elegir los servicios que ofreces, tus horarios y tus tarifas*</p>
					<span class="sep-ver double "> </span>
					<h3 class="line">Oportunidades de negocio</h3>
					<img src="/img/sifr.png" class="img-responsive animation rcenter">
		      		<p>Te informaremos acerca de oportunidades de crecimiento para aprender del negocio con un equipo totalmente dedicado a que tengas éxito.</p>
	      		</div>
	      		<div class="col-md-4 col-sm-12 col-sm-6 hidden-sm ">
	      			<span class="sep-ver one-bottom mt10 mb0"> </span>
	      			<h3>Cobertura de seguro</h3>
					<img src="/img/segu.png" class="img-responsive animation rcenter">
		      		<p>Seguro para mascotas, terceros y cobertura veterinaria.</p>
		      		<span class="sep-ver one-top mb10" style="height: 111px;"> </span>
	      		</div>
	      	</div>
      		
      	</div>
    </div>

    <span class="sep-ver l50 mb0 mt10 hidden-xs"> </span>

    <div class="row pb-35">
      	<div class="col-lg-12 col-md-12 text-center">
      		<h1 class="text-center pb-35">¿Cómo funciona?</h1>
      		<div class="functioning col-md-9 rcenter ">
      			<div class=" row ">
		      		<div class="col-md-6 col-xs-12 col-sm-6">
		      			<div class="panel panel-default">
				          <div class="panel-body">
				          	<h3>1 <br>Crea tu perfil y anuncio</h3>
				            	<p>Llena nuestro formulario, sube fotos de buena calidad y asegúrate de describir los servicios que ofreces.</p>
				          </div>
				        </div>
		      		</div>
		      		<div class="col-md-6 col-xs-12 col-sm-6">
		      			<div class="panel panel-default">
				          <div class="panel-body">
				          	<h3>2 <br> Revisión de perfil</h3>
				            	<p>Nuestro equipo revisa manualmente cada aplicación en una semana. Si tu aplicación es aprobada FELICITACIONES– Tu perfil estará activo y los dueños de mascotas podrán empezar a solicitar tus servicios.</p>
				          </div>
				        </div>
		      		</div>
		      		<div class="col-md-6 col-xs-12 col-sm-6">
		      			<div class="panel panel-default">
				          <div class="panel-body">
				          	<h3>3 <br>Maneja tu negocio</h3>
				            	<p>Una vez aprobado, maneja tu calendario para que usuarios empiecen a contactarte. Cuando alguien te contacte recibirás correos electrónicos, responde lo mas pronto posible para ganar la confianza de posibles clientes.</p>
				          </div>
				        </div>
		      		</div>
		      		<div class="col-md-6 col-xs-12 col-sm-6">
		      			<div class="panel panel-default">
				          <div class="panel-body">
				          	<h3>4 <br>Recibe reservas y pagos</h3>
				            	<p>PamDogs gestiona la reserva y los pagos en línea de forma segura (Prohibido realizar acuerdos fuera del website y recibir dinero efectivo). PamDogs obtiene un % del servicio para gastos y marketing. Al finalizar el servicio recibes tu pago en un máximo de 2 días hábiles.</p>
				          </div>
				        </div>
		      		</div>
	      		</div>
	      	</div>
      	</div>
       
    </div>
</div>

<div class="service-container bgwhite" >
	<div class="container ">
	    <div class="row">
	      	
	       <div class="services pb-35 col-md-12">
	          	<h1 class="text-center pb-35">¿Qué servicios puedes ofrecer?</h1>
	          		<div class="row">
		          		<div class="col-md-6 col-xs-12 col-sm-6">
		          			<div class="row">
		          				<div class="col-md-2 col-xs-4 col-sm-3">
		          					<img src="img/moon2.png" class="img-responsive serv" alt="" width="53" >
		          				</div>
		          				<div class="col-md-10 col-xs-8 col-sm-9">
				          			<h3>Hospedaje</h3>
				          			<p>La mascota se queda en tu casa en periodos de 24 horas o mas.</p>
		          				</div>
		          			</div>
		          			<div class="row">
		          				<div class="col-md-2 col-xs-4 col-sm-3">
		          					<img src="img/house2.png" class="img-responsive serv" alt="" width="53" >
		          				</div>
		          				<div class="col-md-10 col-xs-8 col-sm-9">
				          			<h3>Guardería</h3>
				          			<p>La mascota esta en tu casa durante el día.</p>
		          				</div>
		          			</div>
		          			<div class="row">
		          				<div class="col-md-2 col-xs-4 col-sm-3">
		          					<img src="img/paseo2.png" class="img-responsive serv" alt="" width="53" >
		          				</div>
		          				<div class="col-md-10 col-xs-8 col-sm-9">
				          			<h3>Paseos</h3>
				          			<p>Vas a la casa del usuario a buscar la mascota y la sacas a caminar para que pueda ejercitarse.</p>
		          				</div>
		          			</div>
		          			
		          			
		          		</div>
		          		<div class="col-md-6 col-xs-12 col-sm-6">
		          			<img src="img/perros1.jpg" class="img-responsive" alt=""  >
		          		</div>

		          		<div class="col-md-12 col-xs-12 col-sm-12 text-center pt-35">
		          			<span class="img-responsive line-hor2 hidden-xs"></span>
			        		<a type="submit" class="btn boton btn-sm rcenter mt10" ><strong>¡Hazte Cuidador!</strong></a> 
			        		<span class="img-responsive line-hor2 hidden-xs"></span>
		          		</div>		
	          		</div>
	    	</div>
	    </div>
	</div>
</div>

<!-- /.container -->
