<!-- Image Background Page Header -->
<header class="profile-header" style="background: url('../img/img1.jpg') center center no-repeat scroll;">
    <div class="container">
        <div class=" row ">
        	<div class="col-md-12 banner-text">
        	<img src="/img/user-292x92.png" class="img-responsive avatar img-circle">
        	<h1>Nombre y apellido </h1>
        	<a type="submit" class="btn boton btn-sm" ><strong>Reservar ahora</strong></a> 
        	</div>  
        	
        </div>
    </div>
</header>

<!-- Page Content -->
<div class="profile-content">
	<div class="container">

	    <div class="row">
	      	<div class="col-lg-8 col-md-8">
		        <div class="panel panel-default">
		          <div class="panel-body">
		          	<div class="col-md-10 col-xs-12 ">
		          		<h3>Lorem ipsum dolor sit amet, consectetur cras amet</h3>
		          	</div>
			        <div class="col-md-2  col-xs-12 point">
		              <img src="img/star_on.png" class="star">
		              <img src="img/star_on.png" class="star">
		              <img src="img/star_on.png" class="star">
		              <img src="img/star_on.png" class="star">
		              <img src="img/star_off.png" class="star">
		            </div>
		            <div class="col-md-12 description">
		              	<p>Diego Martínez / Medellín.</p>
		              	<p >“Tras dejar a nuestra perrita Chessy con Irene, sólo podemos trasladar nuestro más sincero agradecimiento por su atención y cariño.”</p>

		              	<p class="note">10 años de experiencia en el cuidado de mascotas.</p>

		              	<div class="row">
			            	<div class="col-md-4 col-xs-12 col-sm-4 list">
			              		<p>Tamaño de perros aceptados:</p>
			              		<img src="/img/mascotas/3.png" width="47" class="pets">
			              		<img src="/img/mascotas/3.png" width="47" class="pets">
			              	</div>
			              	<div class="col-md-4 col-xs-12 col-sm-4 list">
			              		<p>Espacio Libre:</p>
			              		<span class="check">Jardín</span>
			              	</div>
			              	<div class="col-md-4 col-xs-12 col-sm-4 list">
			              		<p>Tipo de Vivienda:</p>
			              		<span class="check">Casa</span>
			              	</div>
			            </div>
			            <div class="row">
			              	<div class="col-md-4 col-xs-12 col-sm-4 list">
			              		<p>Auto para emergencias:</p>
			              		<span class="check">Sí</span>
			              	</div>
			              	<div class="col-md-4 col-xs-12 col-sm-4 list">
			              		<p>Servicio a domicilio:</p>
			              		<span class="check">Sí</span>
			              	</div>
			              	<div class="col-md-4 col-xs-12 col-sm-4 list">
			              		<p>Mascotas Propias:</p>
			              		<span class="check">Perros</span>
			              	</div>
			            </div>
		            </div>

		          </div>

		        </div>

		        <div class="panel panel-default">
			        <div class="panel-body ">
			          	<div class="col-md-12">
				          	<h4>Fotos  de las mascotas:</h4>
				          	<div class="photos">
				          		<div class="row">
					          		<div class="col-md-3 col-xs-12 col-sm-3">
					          			<img src="img/11.jpg" class="img-responsive" alt=""  >
					          		</div>
					          		<div class="col-md-3 col-xs-12 col-sm-3">
					          			<img src="img/11.jpg" class="img-responsive" alt=""  >
					          		</div>
					          		<div class="col-md-3 col-xs-12 col-sm-3">
					          			<img src="img/11.jpg" class="img-responsive" alt=""  >
					          		</div>
					          		<div class="col-md-3 col-xs-12 col-sm-3">
					          			<img src="img/11.jpg" class="img-responsive" alt=""  >
					          		</div>
				          		</div>
				          	</div>
			          	</div>
			        </div>

		        </div>
	      	</div>
	      	<div class="col-lg-4 col-md-4">
	      		<div class="row">
		      		<div class="col-sm-6 col-md-12 col-xs-12 col-lg-12">
				        <div class="panel panel-default">
				          <div class="panel-body map">
				          	<h4>Ubicación en el mapa</h4>
				            
				          </div>
				        </div>
			        </div>
					<div class="col-sm-6 col-md-12 col-xs-12 col-lg-12">
				        <div class="panel panel-default list-result ">
				          	<div class="panel-body">
					            <div class="row result">
					                <div class="col-md-4 col-sm-4 text-center country">
					                    <img src="/img/user-292x92.png" class="img-responsive avatar img-circle">
					                    <img src="/img/locacion.jpg">Ciudad de Bogotá
					                </div>
					                <div class="col-md-8 col-sm-8 col-xs-12">
					                    <a  href="" class="title">Lorem ipsum</a>
					                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur eu congue justo. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur eu congue justo
					                </div>
					                <div class="col-md-12 col-xs-12 col-sm-12 calificacion">
					                    <img src="img/star_on.png" class="star">
										<img src="img/star_on.png" class="star">
										<img src="img/star_on.png" class="star">
										<img src="img/star_on.png" class="star">
										<img src="img/star_off.png" class="star">
					                </div>
					            </div>
					            <div class="row result">
					                <div class="col-md-4 col-sm-4 text-center country">
					                    <img src="/img/user-292x92.png" class="img-responsive avatar img-circle">
					                    <img src="/img/locacion.jpg">Ciudad de Bogotá
					                </div>
					                <div class="col-md-8 col-sm-8 col-xs-12">
					                    <a  href="" class="title">Lorem ipsum</a>
					                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur eu congue justo. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur eu congue justo
					                </div>
					                <div class="col-md-12 col-xs-12 col-sm-12 calificacion">
					                    <img src="img/star_on.png" class="star">
										<img src="img/star_on.png" class="star">
										<img src="img/star_on.png" class="star">
										<img src="img/star_on.png" class="star">
										<img src="img/star_off.png" class="star">
					                </div>
					            </div>
				        	</div>
				        </div>
			        </div>
			    </div>
	        </div>
	      </div>
	    </div>

	</div>
</div>
<!-- /.container -->
