<div class="container">
  <div class="row main">
    <div class="panel-heading">
             <div class="panel-title text-center">
              </div>
          </div>
    <div class="main-register cuidador col-md-10 col-lg-10 col-sm-12 col-xs-12">
      <h1 class="title">Crea tu cuenta</h1>
      <hr class="hr hr-xs" align="center" />

      <form class="form-horizontal" id="registerCuidador" name="registerCuidador" ng-submit="cuidador.register()" novalidate>
          <div class="rcenter col-md-9 form-content">
            <div class="row">
                <span class="section-title">
                    Foto de Perfil *
                </span>
                <div class="section-content">
                  <img ng-src="{{ filepreview ? filepreview : (cuidador.$storage.user.avatar ? 'storage/images/avatars/users/'+cuidador.$storage.user.avatar : 'img/user-22.png') }}" class="img-responsive img-circle rcenter avatar">

                  <!--<input type="file" class="btn boton btn-lg rcenter" value="Subir nueva imagen"></input>-->
                  <input type="file" class="inputfile" name="foto" file-model="cuidador.foto" file-preview="filepreview" id="avatar">
                  <label for="avatar" class="btn boton btn-lg btn-block">{{ cuidador.foto.name || "Subir una imagen" }}</label>
                </div>
            </div>
          </div>

          <div class="rcenter col-md-9 form-content">
            <div class="row">
                <span class="section-title">
                    Datos del cuidador *
                </span>
                <div class="section-content">
                    <div class="form-group" ng-class="{ 'has-error': registerCuidador.title.$touched && registerCuidador.title.$invalid }">
                        <label for="title">Título:</label>
                        <input type="text" class="form-control" align="center" id="title" name="title" ng-model="cuidador.title" placeholder="Max 50 caracteres" required maxlength="50">
                        <div class="help-block" ng-messages="registerCuidador.title.$error" ng-show="registerCuidador.title.$touched && registerCuidador.title.$invalid">
                          <div ng-messages-include="app/views/messages.html"></div>
                        </div>
                    </div>

                    <div class="form-group">
                      <div class="form-group" ng-class="{ 'has-error': registerCuidador.description.$touched && registerCuidador.description.$invalid }">
                        <label for="description">Descripción personal:</label>
                        <textarea class="form-control" align="center" id="description" name="description" ng-model="cuidador.description" rows="5" placeholder="Espacio para conocimientos, experiencias y características de tus servicios (mínimo 200 caracteres)" required minlength="200"></textarea>
                        <div class="help-block" ng-messages="registerCuidador.description.$error" ng-show="registerCuidador.description.$touched && registerCuidador.description.$invalid">
                          <div ng-messages-include="app/views/messages.html"></div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-6">
                            <label for="year">Años de experiencia:</label>
                            <input type="text" class="form-control" align="center" id="year" name="year" ng-model="cuidador.year" placeholder="Escriba sus años de experiencia" required>
                        </div>
                        <div class="col-md-6 size">
                            <label for="title">Tamaños aceptados:</label>
                            <br>
                              <div class="check checkbox-inline col-md-3 col-lg-3 mb-35">
                                  <label class="" for="checkSize1">
                                    <img src="/img/mascotas/1.png" width="50" class="img-responsive">
                                    &#60;10kg<br>
                                    <input type="checkbox" value="1" id="checkSize1" ng-model="cuidador.size1">
                                    <label class="lcheck" for="checkSize1"></label>
                                    </label>
                              </div>

                              <div class="check checkbox-inline col-md-3 col-lg-3 mb-35">
                                  <label class="" for="checkSize2">
                                    <img src="/img/mascotas/2.png" width="50" class="img-responsive">
                                    11 a 20kg <br>
                                    <input type="checkbox" value="2" id="checkSize2" ng-model="cuidador.size2">
                                    <label class="lcheck" for="checkSize2"></label>
                                  </label>
                              </div>

                              <div class="check checkbox-inline col-md-3 col-lg-3 mb-35">
                                  <label class="" for="checkSize3" >
                                    <img src="/img/mascotas/3.png" width="50" class="img-responsive">
                                    21 a 40kg <br>
                                    <input type="checkbox" value="3" id="checkSize3" ng-model="cuidador.size3">
                                    <label class="lcheck" for="checkSize3"></label>
                                  </label>
                              </div>

                              <div class="check checkbox-inline col-md-3 col-lg-3 mb-35">
                                  <label class="" for="checkSize4" >
                                    <img src="/img/mascotas/4.png" width="50" class="img-responsive">
                                    &#62;40kg <br>
                                    <input type="checkbox" value="4" id="checkSize4" ng-model="cuidador.size4">
                                    <label class="lcheck" for="checkSize4"></label>
                                  </label>
                              </div>
                        </div>
                    </div>

                    <div class="form-group ">
                        <div class="col-md-6 ">
                            <label for="">Tipo de Vivienda</label>
                            <br>
                              <div class="radio radio-inline mb-35">
                                  <label class="" for="radioLiving1">Apartamento
                                    <input type="radio" value="1"  name="living" id="radioLiving1" ng-model="cuidador.living1">
                                    <label class="lradio" for="radioLiving1"></label>
                                  </label>
                              </div>
                              <div class="radio radio-inline mb-35">
                                  <label class="" for="radioLiving2">/ Casa
                                    <input type="radio" value="2" name="living"  id="radioLiving2" ng-model="cuidador.living2">
                                    <label class="lradio" for="radioLiving2"></label>
                                    </label>
                              </div>
                              <div class="radio radio-inline mb-35">
                                  <label class="" for="radioLiving3">/ Local
                                    <input type="radio" value="3"  name="living" id="radioLiving3" ng-model="cuidador.living3">
                                    <label class="lradio" for="radioLiving3"></label>
                                    </label>
                              </div>
                        </div>
                        <div class="col-md-6 ">
                            <label for="space">Espacio Libre:</label>
                            <br>
                              <div class="check checkbox-inline  mb-35">
                                  <label class="" for="checkSpace1">Jardín
                                    <input type="checkbox" value="1" id="checkSpace1" ng-model="cuidador.space1">
                                    <label class="lcheck" for="checkSpace1"></label>
                                  </label>
                              </div>
                              <div class="check checkbox-inline mb-35">
                                  <label class="" for="checkSpace2">/ Balcón
                                    <input type="checkbox" value="2" id="checkSpace2" ng-model="cuidador.space2">
                                    <label class="lcheck" for="checkSpace2"></label>
                                  </label>
                              </div>
                              <div class="check checkbox-inline mb-35">
                                  <label class="" for="checkSpace3">/ Terraza
                                    <input type="checkbox" value="3" id="checkSpace3" ng-model="cuidador.space3">
                                    <label class="lcheck" for="checkSpace3"></label>
                                  </label>
                              </div>
                          </div>
                    </div>
                    <div class="form-group ">
                        <div class="col-md-6">
                            <label for="car">Auto para emergencias:</label>
                            <br>
                              <div class="radio radio-inline mb-35  col-md-4">
                                  <label class="" for="radioCar1">Si
                                    <input type="radio" value="si"  name="living" id="radioCar1" ng-model="cuidador.car1">
                                    <label class="lradio " for="radioCar1">
                                  </label>
                              </div>
                              <div class="radio radio-inline mb-35  col-md-4">
                                  <label class="" for="radioCar2">No
                                    <input type="radio" value="no" name="living"  id="radioCar2" ng-model="cuidador.car2">
                                    <label class="lradio " for="radioCar2">
                                  </label>
                              </div>
                        </div>
                        <div class="col-md-6 ">
                            <label for="pets">Mascotas propias:</label>
                            <br>
                              <div class="check checkbox-inline  mb-35">
                                  <label class="" for="checkPets1">Perro
                                    <input type="checkbox" value="1" id="checkPets1" ng-model="cuidador.pets1">
                                    <label class="lcheck" for="checkPets1"></label>
                                  </label>
                              </div>
                              <div class="check checkbox-inline mb-35">
                                  <label class="" for="checkPets2">/ Gato
                                    <input type="checkbox" value="2" id="checkPets2" ng-model="cuidador.pets2">
                                    <label class="lcheck" for="checkPets2"></label>
                                  </label>
                              </div>
                              <div class="check checkbox-inline mb-35">
                                  <label class="" for="checkPets3">/ No
                                    <input type="checkbox" value="3" id="checkPets3" ng-model="cuidador.pets3">
                                    <label class="lcheck" for="checkPets3"></label>
                                  </label>
                              </div>
                          </div>
                    </div>
                    <div class="form-group">
                        <label for="photo">Fotografias:</label><br>
                        <span >Fotos que ayuden a mostrar tus servicios , Ej. Tus mascotas, Lugares que frecuentaran las amscotas contigo, tu hogar, entre otros (Min 3 - Max 20)</span>
                        <input type="file" class="btn boton btn-lg rcenter mt-35" value="Cargar imágenes"></input>
                    </div>
                    <div class="form-group">
                      <label>Ubicación:</label>
                    </div>
                    <div class="form-group" ng-class="{ 'has-error': registerCuidador.location.$touched && registerCuidador.location.$invalid }">
                        <div class="col-md-2"><label for="location" class="single">Localidad:</label></div>
                        <div class="col-md-10">
                          <input type="text" class="form-control col-md-9" align="center" id="location" name="location" ng-model="cuidador.location" placeholder="Introducir texto" required>
                          <div class="help-block" ng-messages="registerCuidador.location.$error" ng-show="registerCuidador.location.$touched && registerCuidador.location.$invalid">
                            <div ng-messages-include="app/views/messages.html"></div>
                          </div> 
                        </div>

                    </div>
                    <div class="form-group" ng-class="{ 'has-error': registerCuidador.barrio.$touched && registerCuidador.barrio.$invalid }">
                        <div class="col-md-2"><label for="barrio" class="single">Barrio:</label></div>
                        <div class="col-md-10">
                          <input type="text" class="form-control col-md-9" align="center" id="barrio" name="barrio" ng-model="cuidador.barrio" placeholder="Introducir texto" required>
                          <div class="help-block" ng-messages="registerCuidador.barrio.$error" ng-show="registerCuidador.barrio.$touched && registerCuidador.barrio.$invalid">
                            <div ng-messages-include="app/views/messages.html"></div>
                          </div> 
                        </div>

                    </div>
                  <div class="form-group mb-35" ng-class="{ 'has-error': registerCuidador.address.$touched && registerCuidador.address.$invalid }">
                        <div class="col-md-2"><label for="address" class="single">Dirección:</label></div>
                        <div class="col-md-10">
                          <input type="text" class="form-control col-md-9" align="center" id="address" name="address" ng-model="cuidador.address" placeholder="Introducir texto" required>
                          <div class="help-block" ng-messages="registerCuidador.address.$error" ng-show="registerCuidador.address.$touched && registerCuidador.address.$invalid">
                            <div ng-messages-include="app/views/messages.html"></div>
                          </div> 
                        </div>

                    </div>

                    <div class="map">
                        <h4 class="single text-center">Confirmar ubicación en Google Maps:</h4>
                        <div id="map"></div>
                    </div>

                    <div class="form-inline tcenter mt-35">
                      <div class="form-group " ng-class="{ 'has-error': registerCuidador.range.$touched && registerCuidador.range.$invalid }">
                          <label for="range">Rango:</label>
                            <input type="text" class="form-control " align="center" id="range" name="range" ng-model="cuidador.range" placeholder="" required>
                          <label for="range" class="single">metros</label>
                          <div class="help-block" ng-messages="registerCuidador.range.$error" ng-show="registerCuidador.range.$touched && registerCuidador.range.$invalid">
                            <div ng-messages-include="app/views/messages.html"></div>
                          </div>
                      </div>
                    </div>
                    <div class="form-group">
                        <label>Servicios a ofrecer:</label><br>
                        <span >Recordatorio de que Pamdogs cobra 20%  del precio establecido por el servicio que ofrece</span>
                    </div>
                    <div class="form-group">
                        <label >Hospedaje:</label><br>
                        <span >Cuidado de la mascota por una estancia de 24 horas. El sistema cobrará horas adicionales.</span>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                          <div class=" form-group" ng-class="{ 'has-error': registerCuidador.estancia.$touched && registerCuidador.estancia.$invalid }">
                              <div class="col-md-8"><label for="estancia" class="single">Tarifa por estancia 24 horas:</label></div>
                                <div class="col-md-4"><input type="text" class="form-control col-md-2" align="center" id="estancia" name="estancia" ng-model="cuidador.estancia" placeholder="" required></div>
                                <div class="help-block" ng-messages="registerCuidador.estancia.$error" ng-show="registerCuidador.estancia.$touched && registerCuidador.estancia.$invalid">
                                  <div ng-messages-include="app/views/messages.html"></div>
                                </div>
                          </div>
                          <div class=" form-group" ng-class="{ 'has-error': registerCuidador.extras.$touched && registerCuidador.extras.$invalid }">
                              <div class="col-md-8"><label for="extras" class="single">Tarifa por horas extras:</label></div>
                                <div class="col-md-4"><input type="text" class="form-control col-md-2" align="center" id="extras" name="extras" ng-model="cuidador.extras" placeholder="" required></div>
                                <div class="help-block" ng-messages="registerCuidador.extras.$error" ng-show="registerCuidador.extras.$touched && registerCuidador.extras.$invalid">
                                  <div ng-messages-include="app/views/messages.html"></div>
                                </div>
                          </div>
                          <div class=" form-group" ng-class="{ 'has-error': registerCuidador.mextra.$touched && registerCuidador.mextra.$invalid }">
                              <div class="col-md-8"><label for="mextra" class="single">Tarifa por mascota extra:</label></div>
                                <div class="col-md-4"><input type="text" class="form-control col-md-2" align="center" id="mextra" name="mextra" ng-model="cuidador.mextra" placeholder="" required></div>
                                <div class="help-block" ng-messages="registerCuidador.mextra.$error" ng-show="registerCuidador.mextra.$touched && registerCuidador.mextra.$invalid">
                                  <div ng-messages-include="app/views/messages.html"></div>
                                </div>
                          </div>
                        </div>
                        <div class="col-md-6 ">
                            <div class="form-group">
                                <label for="day" class="single">Día de la semana disponible:</label>
                                <br>
                                  <div class="check checkbox-inline  mb-35 pl-14">
                                      <label class="" for="checkDay1">L
                                        <input type="checkbox" value="1" id="checkDay1" ng-model="cuidador.day1">
                                        <label class="lcheck" for="checkDay1"></label>
                                      </label>
                                  </div>
                                  <div class="check checkbox-inline mb-35 pl-14">
                                      <label class="" for="checkDay2">M
                                        <input type="checkbox" value="2" id="checkDay2" ng-model="cuidador.day2">
                                        <label class="lcheck" for="checkDay2"></label>
                                      </label>
                                  </div>
                                  <div class="check checkbox-inline mb-35 pl-14">
                                      <label class="" for="checkDay3">M
                                        <input type="checkbox" value="3" id="checkDay3" ng-model="cuidador.day3">
                                        <label class="lcheck" for="checkDay3"></label>
                                      </label>
                                  </div>
                                  <div class="check checkbox-inline mb-35 pl-14">
                                      <label class="" for="checkDay4">J
                                        <input type="checkbox" value="4" id="checkDay4" ng-model="cuidador.day4">
                                        <label class="lcheck" for="checkDay4"></label>
                                      </label>
                                  </div>
                                  <div class="check checkbox-inline mb-35 pl-14">
                                      <label class="" for="checkDay5">V
                                        <input type="checkbox" value="5" id="checkDay5" ng-model="cuidador.day5">
                                        <label class="lcheck" for="checkDay5"></label>
                                      </label>
                                  </div>
                                  <div class="check checkbox-inline mb-35 pl-14">
                                      <label class="" for="checkDay6">S
                                        <input type="checkbox" value="6" id="checkDay6" ng-model="cuidador.day6">
                                        <label class="lcheck" for="checkDay6"></label>
                                      </label>
                                  </div>
                                  <div class="check checkbox-inline mb-35 pl-14">
                                      <label class="" for="checkDay7">D
                                        <input type="checkbox" value="7" id="checkDay7" ng-model="cuidador.day7">
                                        <label class="lcheck" for="checkDay7"></label>
                                      </label>
                                  </div>
                            </div>
                        </div>
                  </div>

                  <div class="form-group">
                        <label >Guardería:</label><br>
                        <span >Cuidado de la mascota por una estancia de 24 horas. El sistema cobrará horas adicionales.</span>
                  </div>
                  <div class="row">
                        <div class="col-md-6">
                          <div class=" form-group" ng-class="{ 'has-error': registerCuidador.guarderia.$touched && registerCuidador.guarderia.$invalid }">
                              <div class="col-md-8"><label for="guarderia" class="single">Tarifa por hora:</label></div>
                                <div class="col-md-4"><input type="text" class="form-control col-md-2" align="center" id="guarderia" name="guarderia" ng-model="cuidador.guarderia" placeholder="" required></div>
                                <div class="help-block" ng-messages="registerCuidador.guarderia.$error" ng-show="registerCuidador.guarderia.$touched && registerCuidador.guarderia.$invalid">
                                  <div ng-messages-include="app/views/messages.html"></div>
                                </div>
                          </div>
                          <div class=" form-group" ng-class="{ 'has-error': registerCuidador.gpets.$touched && registerCuidador.gpets.$invalid }">
                              <div class="col-md-8"><label for="gpets" class="single">Tarifa por mascota:</label></div>
                                <div class="col-md-4"><input type="text" class="form-control col-md-2" align="center" id="gpets" name="gpets" ng-model="cuidador.gpets" placeholder="" required></div>
                                <div class="help-block" ng-messages="registerCuidador.gpets.$error" ng-show="registerCuidador.gpets.$touched && registerCuidador.gpets.$invalid">
                                  <div ng-messages-include="app/views/messages.html"></div>
                                </div>
                          </div>
                        </div>
                        <div class="col-md-6 ">
                            <div class="form-group">
                                <label class="single">Disponibilidad:</label>
                                <br>
                                  <div class="check checkbox-inline  mb-35 col-md-4">
                                      <label class="" for="checkGuarderia1">Diurno
                                        <input type="checkbox" value="1" id="checkGuarderia1" ng-model="cuidador.gdisponibilidad1">
                                        <label class="lcheck" for="checkGuarderia1"></label>
                                      </label>
                                  </div>
                                  <div class="check checkbox-inline mb-35 col-md-4">
                                      <label class="" for="checkGuarderia2">Nocturno
                                        <input type="checkbox" value="2" id="checkGuarderia2" ng-model="cuidador.gdisponibilidad2">
                                        <label class="lcheck" for="checkGuarderia2"></label>
                                      </label>
                                  </div>
                            </div>
                        </div>
                  </div>
                  <div class="form-group">
                      <label>Paseos:</label>
                  </div>
                  <div class="row">
                      <div class="col-md-6">
                          <div class="form-group">
                              <span >El servicio es hasta por 1 hora de paseo.</span>
                          </div>
                          <div class=" form-group" ng-class="{ 'has-error': registerCuidador.paseo.$touched && registerCuidador.paseo.$invalid }">
                              <div class="col-md-8"><label for="paseo" class="single">Tarifa por hora:</label></div>
                                <div class="col-md-4"><input type="text" class="form-control col-md-2" align="center" id="paseo" name="paseo" ng-model="cuidador.paseo" placeholder="" required required></div>
                                <div class="help-block" ng-messages="registerCuidador.paseo.$error" ng-show="registerCuidador.paseo.$touched && registerCuidador.paseo.$invalid">
                                  <div ng-messages-include="app/views/messages.html"></div>
                                </div>
                          </div>
                          <div class=" form-group" ng-class="{ 'has-error': registerCuidador.pmextra.$touched && registerCuidador.pmextra.$invalid }">
                              <div class="col-md-8"><label for="pmextra" class="single">Tarifa por mascota extra:</label></div>
                                <div class="col-md-4"><input type="text" class="form-control col-md-2" align="center" id="pmextra" name="pmextra" ng-model="cuidador.pmextra" placeholder="" required required></div>
                                <div class="help-block" ng-messages="registerCuidador.pmextra.$error" ng-show="registerCuidador.pmextra.$touched && registerCuidador.pmextra.$invalid">
                                  <div ng-messages-include="app/views/messages.html"></div>
                                </div>
                          </div>
                        </div>
                        <div class="col-md-6 ">
                            <div class=" form-group">
                                <label for="day" class="single">Día de la semana disponible:</label>
                                <br>
                                  <div class="check checkbox-inline  mb-35 pl-14">
                                      <label class="" for="checkPDay1">L
                                        <input type="checkbox" value="1" id="checkPDay1" ng-model="cuidador.pday1">
                                        <label class="lcheck" for="checkPDay1"></label>
                                      </label>
                                  </div>
                                  <div class="check checkbox-inline mb-35 pl-14">
                                      <label class="" for="checkPDay2">M
                                        <input type="checkbox" value="2" id="checkPDay2" ng-model="cuidador.pday2">
                                        <label class="lcheck" for="checkPDay2"></label>
                                      </label>
                                  </div>
                                  <div class="check checkbox-inline mb-35 pl-14">
                                      <label class="" for="checkPDay3">M
                                        <input type="checkbox" value="3" id="checkPDay3" ng-model="cuidador.pday3">
                                        <label class="lcheck" for="checkPDay3"></label>
                                      </label>
                                  </div>
                                  <div class="check checkbox-inline mb-35 pl-14">
                                      <label class="" for="checkPDay4">J
                                        <input type="checkbox" value="4" id="checkPDay4" ng-model="cuidador.pday4">
                                        <label class="lcheck" for="checkPDay4"></label>
                                      </label>
                                  </div>
                                  <div class="check checkbox-inline mb-35 pl-14">
                                      <label class="" for="checkPDay5">V
                                        <input type="checkbox" value="5" id="checkPDay5" ng-model="cuidador.pday5">
                                        <label class="lcheck" for="checkPDay5"></label>
                                      </label>
                                  </div>
                                  <div class="check checkbox-inline mb-35 pl-14">
                                      <label class="" for="checkPDay6">S
                                        <input type="checkbox" value="6" id="checkPDay6" ng-model="cuidador.pday6">
                                        <label class="lcheck" for="checkPDay6"></label>
                                      </label>
                                  </div>
                                  <div class="check checkbox-inline mb-35 pl-14">
                                      <label class="" for="checkPDay7">D
                                        <input type="checkbox" value="7" id="checkPDay7" ng-model="cuidador.pday7">
                                        <label class="lcheck" for="checkPDay7"></label>
                                      </label>
                                  </div>
                            </div>
                        </div>
                  </div>
                  <div class="row">
                  <div class="col-md-6 ">
                    <div class=" form-group" ng-class="{ 'has-error': registerCuidador.hinit.$touched && registerCuidador.hinit.$invalid }">
                        <div class="col-md-8"><div class=""><label for="hinit" class="single">Horario disponible:</label></div></div>
                        <div class="col-md-4"><input type="text" class="form-control col-md-2" align="center" id="hinit" name="hinit" ng-model="cuidador.hinit" placeholder="" required></div>
                        <div class="help-block" ng-messages="registerCuidador.hinit.$error" ng-show="registerCuidador.hinit.$touched && registerCuidador.hinit.$invalid">
                          <div ng-messages-include="app/views/messages.html"></div>
                        </div>
                    </div>
                  </div>
                  <div class="col-md-6 ">
                      <div class="form-group" ng-class="{ 'has-error': registerCuidador.hfinit.$touched && registerCuidador.hfinit.$invalid }">
                          <div class="col-md-2"><label for="hfinit" class="single">Hasta:</label></div>
                          <div class="col-md-4"><input type="text" class="form-control col-md-2" align="center" id="hfinit" name="hfinit" ng-model="cuidador.hfinit" placeholder="" required></div>
                          <div class="help-block" ng-messages="registerCuidador.hfinit.$error" ng-show="registerCuidador.hfinit.$touched && registerCuidador.hfinit.$invalid">
                            <div ng-messages-include="app/views/messages.html"></div>
                          </div>
                      </div>
                  </div>
                  </div>
                  <div class="form-group">
                      <label class="single">¿Incluyes servicio adomicilio?:</label><br>
                      <span >Buscar y entregar la mascota en el domicilio del cliente.</span>
                  </div>
                      <div class="text-center">
                        <div class="radio radio-inline  mb-35 pl-14">
                            <label class="" for="radioAdomicilio1">Si
                              <input type="radio" value="si" name="adomicilio" id="radioAdomicilio1" ng-model="cuidador.adomicilio1">
                              <label class="lradio" for="radioAdomicilio1"></label>
                            </label>
                        </div>
                        <div class="radio radio-inline mb-35 pl-14">
                            <label class="" for="radioAdomicilio2">No
                              <input type="radio" value="no" name="adomicilio" id="radioAdomicilio2" ng-model="cuidador.adomicilio2">
                              <label class="lradio" for="radioAdomicilio2"></label>
                            </label>
                        </div>
                      </div>


                </div>

            </div>

          </div>
          <div class="col-md-4 rcenter mb-25">
            <button type="submit" class="btn boton btn-lg  btn-block " ><strong>Guardar</strong></button>
          </div>

        </form>
    </div>
  </div>
</div>
